.Rproj.user
.Rhistory
.RData
.Ruserdata
_targets/
renv/
fig/
doc/*
!doc/_targets.yaml
!doc/analysis.Rmd
cache/
rna_seq/*
!rna_seq/fastq_screen.conf
!rna_seq/Snakefile
!rna_seq/config/
shiny/*
!shiny/edger/
!shiny/gsea/
!shiny/shiny_func.R